{% load static %}

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
      <title>{% block title %}Calendar{% endblock %}</title>
      <link href='{% static 'css/fullcalendar.main.min.css' %}' rel='stylesheet' />
      <script src="{% static 'js/fullcalendar.main.min.js' %}"></script>

      <script>
        document.addEventListener('DOMContentLoaded', function() {
            let calendarEl = document.getElementById('calendar');

            let calendar = new FullCalendar.Calendar(calendarEl,{
                customButtons: {
                    public: {
                        theme: 'true',
                        text: 'public',
                        color: '#378006',
                    },
                    private: {
                        theme: 'true',
                        text: 'private',
                        color: '#6495ED',
                    },
            },

                    initialView: 'dayGridMonth',
                    aspectRatio:  2,
                    headerToolbar: {
                    left: 'prev,next today public private',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
              },

              events: [
                  {% for agenda in agenda_list%}
                    {
                        title: '{{agenda.title}}',
                        start: '{{ agenda.entry_date }}',
                        end: '{{ agenda.entry_date }}',
                        rendering: 'background',
                        {% if agenda.public == True %}
                            color: '#378006',
                        {% else %}
                            color: '#6495ED',
                        {% endif %}
                    },
                  {% endfor %}
              ],
            eventAfterAllRender: function(view) {
                if ($('.label').length == 0) {
                    $('.fc-customButtons-public').before('<div class="label">test</div>');
                }
            }
            });

            calendar.render();
        });
    </script>

  </head>
    <div id='calendar'></div>
</html>